@{
    ViewData["Title"] = "Posiciones";
}

@model List<CodigoPromocionalModel>

<div class="text-center">
    <br />
    <div class="card">
        <hr />
        <div class="card-title">
            <h1>
                <strong>
                    Tabla de posiciones
                </strong>
            </h1>
        </div>
        <hr />
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

        <table class="table table-hover table-responsive text-nowrap">
            <thead class="bg-light">
                <tr>
                    <th><h4 class="text-center">Nombre</h4></th>
                    <th><h4 class="text-center">Cliente</h4></th>
                    <th><h4 class="text-center">Puntaje</h4></th>
                    <th><h4 class="text-center">Posición</h4></th>
                    <th><h4 class="text-center"></h4></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    @if (item.PuntajeQuinela != 0)
                    {
                        <tr align="center">

                            <td class="text-justify">
                                <a asp-controller="Quinielas" asp-action="Info" asp-route-codigoPromocional="@item.Codigo" class="fw-bold mb-1">
                                    <img src="~/img/bola.png"
                                 alt=""
                                 style="width: 45px; height: 45px"
                                 class="rounded-circle" />
                                    -
                                    <strong>@item.Nombre</strong>
                                </a>
                            </td>
                            <td align="center">
                                <p class="fw-bold mb-1"><strong>@item.Cliente</strong></p>
                            </td>
                            <td align="center">
                                <p class="fw-bold mb-1" style="font-size:28px !important;"><strong>@item.PuntajeQuinela</strong></p>
                            </td>
                            <td align="center">
                                <p class="fw-bold mb-1" style="font-size:28px !important;"><strong>@item.posicion</strong></p>
                            </td>
                            <td align="center">
                                <a asp-controller="Quinielas" asp-action="Info" asp-route-codigoPromocional="@item.Codigo" class="btn btn-primary blink"><strong>Ver quiniela</strong></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
